<div class="login-container">
  <form class="login-card" #loginForm="ngForm">
    <h2 class="scoutx-title" style="color: #00e6e6;">ScoutX</h2>
    <p class="welcome-text">Bem-vindo de volta!</p>

    <input [(ngModel)]="username" type="text" name="username" placeholder="Usuário" required>
    <input [(ngModel)]="password" type="password" name="password" placeholder="Senha" required>

    <div *ngIf="mensagemErro" class="erro">{{ mensagemErro }}</div>

    <button
      class="btn-login-standard"
      [class.btn-login-active]="loginForm.valid"
      (click)="login()"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>

    <p class="separator-text">Ou continue com </p>
    <div class="social-buttons">
      <button type="button" class="btn-social-standard"><i class="fab fa-google"></i></button>
      <button type="button" class="btn-social-standard"><i class="fab fa-facebook-f"></i></button>
      <button type="button" class="btn-social-standard"><i class="fab fa-apple"></i></button>
    </div>

    <p class="cadastro-link-text">
      Não tem uma conta?
      <span (click)="cadastro()" class="link-cadastro">Cadastre-se</span>
    </p>
  </form>

  <cadastro-modal *ngIf="mostrarModalCadastro" [fechar]="fecharModalCadastro.bind(this)"></cadastro-modal>
</div>