<div class="modal-backdrop">
  <form class="modal-content" #cadastroForm="ngForm">
    <h3 class="modal-title" style="color: #00e6e6;">Cadastro - ScoutX</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="nome" name="nome" placeholder="Nome completo" required>
    </div>
    <div class="form-group">
      <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required email>
    </div>
    <div class="form-group">
      <input type="password" [(ngModel)]="senha" name="senha" placeholder="Senha" required minlength="6">
    </div>
    <div class="form-group">
      <input type="password" [(ngModel)]="confirmarSenha" name="confirmarSenha" placeholder="Confirmar Senha" required>
    </div>

    <div *ngIf="senha.length && confirmarSenha.length < 6" class="error-message">
      Minimo 6 caracteres.
    </div>
    <div *ngIf="senha !== confirmarSenha && confirmarSenha.length > 0" class="error-message">
      As senhas não coincidem.
    </div>

    <div class="terms-checkbox">
      <input type="checkbox" id="terms" [(ngModel)]="termosAceitos" name="termosAceitos" required>
      <label for="terms">Eu aceito os <a href="">termos de uso</a></label>
    </div>

    <button
      class="btn-register"
      [disabled]="cadastroForm.invalid || senha !== confirmarSenha || !termosAceitos"
      (click)="enviar()"
    >
      Registrar
    </button>
    <button type="button" class="btn-close-modal" (click)="fechar()">Fechar</button>
  </form>
</div>