<div class="sobre-container">
  <h2>Nossa historia</h2>

  <p>
    O <strong>ScoutX</strong> é um projeto inovador desenvolvido com o propósito de transformar a forma como o futebol é analisado e compreendido. Ele foi criado para ser uma ferramenta essencial no universo do futebol moderno, atendendo a duas frentes principais:
  </p>

  <div class="objetivos">
    <h3>Nossos Objetivos:</h3>
    <ul>
      <li>
        <strong>Auxiliar equipes de analistas e scouts:</strong> Fornecer uma plataforma intuitiva e eficiente para profissionais que atuam diretamente com a análise de desempenho de jogadores e equipes. O <strong>ScoutX</strong> centraliza informações cruciais, facilitando a identificação de talentos, o estudo de táticas adversárias e o planejamento estratégico, otimizando o tempo e a qualidade das análises.
      </li>
      <li>
        <strong>Apoiar entusiastas e estudiosos do Futebol:</strong> Conceder um recurso valioso para pessoas apaixonadas por futebol que desejam aprofundar seus conhecimentos e estudar o esporte de uma maneira mais analítica. Seja para entender o desempenho de um jogador favorito, comparar estatísticas ou simplesmente mergulhar nos dados do jogo, o projeto oferece uma porta de entrada para uma compreensão mais rica e embasada do futebol.
      </li>
    </ul>
  </div>

  <p class="conclusao">
    Em resumo, o <strong>ScoutX</strong> nasceu da paixão pelo futebol e da necessidade de democratizar e aprimorar o acesso a dados e análises, tornando-o uma ferramenta valiosa tanto para o desenvolvimento profissional quanto para o estudo aprofundado do esporte mais popular do mundo.
  </p>
</div>