<div class="sidebar-container">
  <div class="sidebar-header">
    <img src="logo-scoutx.png" alt="ScoutX Logo" class="sidebar-logo">
    <h2 class="app-title">ScoutX</h2>
  </div>

  <nav class="sidebar-nav">
<ul>
  <li>
    <a routerLink="./como-utilizar" routerLinkActive="active-link">
      <i class="fas fa-question-circle"></i> Como utilizar </a>
  </li>
  <li>
    <a routerLink="./home" routerLinkActive="active-link">
      <i class="fas fa-users"></i> Jogadores </a>
  </li>
  <li>
    <a routerLink="/dashboard" routerLinkActive="active-link">
      <i class="fas fa-heart"></i> Favoritos </a>
  </li>
  <li>
    <a routerLink="/sobre" routerLinkActive="active-link">
      <i class="fas fa-info-circle"></i> Saiba mais </a>
  </li>
</ul>
  </nav>

  <div class="sidebar-footer">
    <button class="btn-logout" (click)="deslogar()">
      <i class="fas fa-sign-out-alt"></i> Deslogar
    </button>
  </div>
</div>