<div class="container-scout">
  <h1>SCOUTX</h1>

  <app-jogador-filtros
    [nacionalidadesDisponiveis]="nacionalidadesDisponiveis"
    [posicoesDisponiveis]="posicoesDisponiveis"
    [clubesDisponiveis]="clubesDisponiveis"
    (filtrosAplicados)="aplicarFiltros($event)"
  ></app-jogador-filtros>

  <div *ngIf="jogadores.length === 0" class="no-results-message">
    Nenhum jogador encontrado com os filtros aplicados.
  </div>

  <div class="comparar-btn-container" *ngIf="jogadoresParaComparar.length > 0">
    <button
      class="comparar-selecionados-btn "
      [disabled]="jogadoresParaComparar.length !== 2"
      (click)="openComparacaoModal()">
      Comparar Selecionados ({{ jogadoresParaComparar.length }}/2)
    </button>
  </div>
  <div class="cards-grid">
    <div class="jogador-card" *ngFor="let jogador of jogadores" (click)="openDetalhesModal(jogador)">
      <img [src]="jogador.foto || 'assets/placeholder-jogador.png'" alt="Foto de {{ jogador.nome }}" class="jogador-foto">
      <div class="jogador-detalhes">
        <span class="jogador-posicao">{{ jogador.posicao }}</span>
        <h3 class="jogador-nome">{{ jogador.nome }}</h3>
      </div>
      <span *ngIf="jogador.numeroCamisa" class="jogador-numero">{{ jogador.numeroCamisa }}</span>

      <div class="compare">
        <label (click)="$event.stopPropagation()">
          <input
            type="checkbox"
            [checked]="isJogadorSelecionadoParaComparacao(jogador)"
            (change)="toggleComparacao(jogador)">
          Comparar
        </label>
      </div>
    </div>
  </div>

  <app-jogador-detalhes
    *ngIf="showDetalhesModal"
    [jogador]="jogadorSelecionado"
    (fechar)="closeDetalhesModal()">
  </app-jogador-detalhes>

  <app-jogador-comparar
    *ngIf="showComparacaoModal"
    [jogadores]="jogadoresParaComparar"
    (fechar)="closeComparacaoModal()">
  </app-jogador-comparar>
</div>